@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto+Mono';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* General */
body {
  background-color: #000;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  overflow: hidden;
}

.fullscreen{
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:active {
  color: rgba(255, 255, 255, 0.4)
}

.close {
  position: absolute;
  font-size: 42px;
  right: 0;
  top: 0;
  padding: 10px;
}

.bottom_right {
  right: 0;
  bottom: 0;
  position: absolute;
}

/* Main view */
#content {
  padding: 0;
  width: 100vw;
  height: calc(100vw / 16 * 9);
  position: relative;
}

iframe {
  height: 100vh;
  height: calc(100vw / 16 * 9);
  width: 100vw;
  display: block;
  pointer-events: none;
  border: none;
}

/* Top bar */
#topbar {
  position: absolute;
  top: 0;
  color: #FFF;
  font-size: 2.5vw;
  margin: 0;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: #0008;
}

/* Weather in top bar */
#topbar #weather {
  position: absolute;
  right: 1vw;
}

img.wind_arrow {
  height: .75em;
  margin-right: .25em;
 }

/* Date in top bar */
#topbar #date {
  position: absolute;
  left: 1vw;
}

/* General top bar */

.right_margin {
  margin-right: 1.5vw;
}

.left_margin {
  margin-left: 1.5vw;
}

.detail {
  opacity: .5;
  font-size: .6em;
}

.unit {
  font-size: smaller;
}

/* Bottom bar */
#bottombar {
  position: absolute;
  bottom: 0;
  color: #BBB;
  font-size: 1.5vw;
  margin: 0;
  width: 100vw;
  background-color: #000;
}

/* Lunch in bottom bar */
#lunch {
  margin-left: 1vw;
  padding: 0;
  display: inline-block;
}

.lunch_option {
  color: #EEE;
}

/* Calendar view */
body#calendar {
  background-color: #E3E8FD;
}

body#calendar iframe {
  height: calc(100vh + 25px);
  margin-top: 0px;
  pointer-events: all;
}

#calendar_bar {
  position: absolute;
  height: 42px;
  top: 0;
  right: 0;
  color: #000;
  font-size: 32px;
  background-color: #fff;
  width: calc(100% - 350px);
  text-align: left;
}

#calendar_noclick {
  position: absolute;
  height: calc(100vh - 65px);
  width: 100%;
  bottom: 0;
}

body#calendar .close {
  padding: 0 10px 10px 10px;
  font-size: 42px;
}

body#calendar a:hover .close {
  color: #7f0000;
}

body#calendar a:focus .close {
  color: #b71c1c;
}

body#calendar a:active .close {
  color: #f05545;
}

/* Clock view */
body#clock {
  color: #fff;
}

body#clock table {
  height: 80vh;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

body#clock div#time {
  font-size: 20vw;
  display: inline;
}

body#clock div#seconds {
  font-size: 20vw;
}

body#clock div#wlan {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 5vh;
}

body#clock div#ssid {
  font-size: 5vh;
  color: #999;
}

body#clock div#pass {
  font-size: 10vh;
  color: #CCC;
}

body#clock .button {
  display: block;
  color: #666;
  padding: 10px;
  font-size: 42px;
}

body#clock a:active .button {
  color: #fff;
}

/* Weather view */
body#weather {
  background-color: #1D384B;
  color: #fff;
}

body#weather table.title {
  width: 90%;
  vertical-align: middle;
  border-collapse: collapse;
  margin: 0 5% 0 5%;
}

body#weather table.title td.name {
  width: 50%;
  font-size: 2.5vw;
  padding: 2vw 0 2vw 0;
}

body#weather table.title td.temperature {
  background-color: #3d5360;
  border-top: 2px solid #6a808f;
  border-bottom: 2px solid #6a808f;
  width: 50%;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: .5vw;
  font-size: 5vw;
}

body#weather table.title td.temperature#outside {
  font-weight: 700;
}

td.temperature#outside div.highlow {
  font-weight: normal;
}

body#weather table.title td.temperature#inside {
  text-align: right;
  font-weight: 300;
}

body#weather table.title td.temperature div.value {
  vertical-align: middle;
  display: inline-block;
  margin-right: 2vw;
}

div.highlow {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  font-size: 0.4em;
}

div.highlow .material-icons {
  font-size: 2vw;
}

body#weather span.material-icons {
  vertical-align: middle;
}

div.highlow td {
  padding-right: .5vw;
}

body#weather table.main {
  vertical-align: middle;
  border-collapse: collapse;
  margin: 0 5% 0 5%;
  width: 90%;
}

body#weather table.main td {
  border-bottom: 1px solid #6a808f;
  padding: 1vw;
  font-size: 2.5vw;
}

body#weather table.main .extra {
  margin-left: .5em;
}

body#weather table.main td:last-child {
  text-align: right;
  padding-right: 5vw;
  font-weight: 300;
}

body#weather table.main td:first-child {
  padding-left: 5vw;
  font-weight: 700;
}

body#weather table.main tr:last-child td {
  font-size: 1vw;
  border-bottom: none;
  color: #6a808f;
}

body#weather a:active .close {
  color: #f05545;
}
