@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Roboto+Mono';

.material-icons {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* General */
html {
  width: 100%;
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #000;
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  overflow: hidden;
}

.fullscreen{
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.close {
  position: absolute;
  font-size: 3vw;
  right: 0;
  top: 0;
  padding: 1vw;
}

.bottom_right {
  right: 0;
  bottom: 0;
  position: absolute;
}

a:active .close {
  color: #f05545;
}

/* Main view */
#content {
  padding: 0;
  width: 100vw;
  position: relative;
}

iframe {
  height: 100vh;
  height: calc(100vw / 16 * 9);
  width: 100vw;
  display: block;
  pointer-events: none;
  border: none;
}

/* Top bar */
#topbar {
  position: absolute;
  top: 0;
  color: #FFF;
  font-size: 2.5vw;
  margin: 0;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  background-color: #0008;
}

#topbar a:active span.link {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Time in top bar */
#topbar #time {
  padding: 0 2vw 0 2vw;
}

/* Weather in top bar */
#topbar #weather {
  position: absolute;
  right: 0;
  padding: 0 1vw 0 2vw;
  text-align: right;
}

img.wind_arrow {
  height: .75em;
  margin-right: .25em;
 }

/* Date in top bar */
#topbar #date {
  position: absolute;
  left: 0;
  padding: 0 2vw 0 1vw;
  text-align: left;
}

/* General top bar */

.right_margin {
  margin-right: 1.5vw;
}

.left_margin {
  margin-left: 1.5vw;
}

.detail {
  opacity: .5;
  font-size: .6em;
}

.unit {
  font-size: smaller;
}

/* Bottom bar */
#bottombar {
  position: absolute;
  bottom: 0;
  color: #BBB;
  font-size: 1.5vw;
  margin: 0;
  width: 100vw;
  background-color: #000;
}

/* Lunch in bottom bar */
#lunch {
  margin-left: 1vw;
  padding: 0;
  display: inline-block;
}

.lunch_option {
  color: #EEE;
}

/* Calendar view */
body.calendar {
  background-color: #fff;
}

#calendar_content {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10vw;
}

#calendar_title_bar {
  margin-top: 2vw;
  height: 4.5vw;
  font-size: 2.5vw;
  color: #263238;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#calendar_noclick {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin-top: 45px;
}

iframe.calendar {
  width: 100%;
  height: 100%;
  pointer-events: all;
}

/* Clock view */
body#clock {
  color: #fff;
}

body#clock table {
  height: 80vh;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}

body#clock div#time {
  font-size: 20vw;
  display: inline;
}

body#clock div#seconds {
  font-size: 20vw;
}

body#clock div#wlan {
  font-family: "Roboto Mono", monospace;
  margin-bottom: 5vh;
}

body#clock div#ssid {
  font-size: 5vh;
  color: #999;
}

body#clock div#pass {
  font-size: 10vh;
  color: #CCC;
}

.clock_button {
  display: block;
  color: #333;
  padding: 1vw;
  font-size: 3vw;
}

/* Weather view */
body#weather {
  background-color: #1D384B;
  color: #fff;
}

body#weather table.title {
  width: 90%;
  vertical-align: middle;
  border-collapse: collapse;
  margin: 0 5% 0 5%;
}

body#weather table.title td.name {
  width: 50%;
  font-size: 2.5vw;
  padding: 2vw 0 2vw 0;
}

body#weather table.title td.temperature {
  background-color: #3d5360;
  border-top: 2px solid #6a808f;
  border-bottom: 2px solid #6a808f;
  padding-bottom: .5vw;
  font-size: 5vw;
}

body#weather table.title td.temperature#outside {
  padding-left: 5vw;
  width: 55%;
}

body#weather table.title td.temperature#inside {
  padding-right: 5vw;
  text-align: right;
  width: 45%;
}

body#weather table.title td.temperature div.value {
  vertical-align: middle;
  display: inline-block;
  margin-right: 2vw;
}

div.highlow {
  vertical-align: middle;
  text-align: left;
  display: inline-block;
  font-size: 0.4em;
}

div.highlow span.value {
  vertical-align: middle;
}

td.temperature .material-icons {
  font-size: 3vw;
}

div.highlow .material-icons {
  font-size: 2vw;
}

body#weather .material-icons {
  vertical-align: middle;
}

td.temperature#outside div.highlow td {
  padding-right: 1.5vw;
}

body#weather table.main {
  vertical-align: middle;
  border-collapse: collapse;
  margin: 0 5% 0 5%;
  width: 90%;
}

body#weather table.main td {
  border-bottom: 1px solid #6a808f;
  padding: 1vw;
  font-size: 2.5vw;
}

body#weather table.main .extra {
  margin-left: .5em;
}

body#weather table.main td:last-child {
  text-align: right;
  padding-right: 5vw;
  font-weight: 300;
}

body#weather table.main td:first-child {
  padding-left: 5vw;
  font-weight: 700;
}

body#weather table.main tr:last-child td {
  font-size: 1vw;
  border-bottom: none;
  color: #6a808f;
}
